div.scrollmenu {
    background-color: #1b191a;
    overflow: auto;
    white-space: nowrap;
    border-radius: 10px;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    margin: 0%;
    border-radius: 5px;
  }
  
  div.scrollmenu a:hover {
    background-color: #000000;
    height: 10px;
    padding-top: 5px;

  }

  a.link-aula{
    color: white;
    position: relative;
    top: -15px;
    display: inline;
  }

  div.box {
    color: white;
    background-image: url('../Imagens/logo-web.png');
    background-repeat: no-repeat;
    background-position-y: 80px;
    text-align: center;
    background-color: #1b191a;
    width: 200px;
    height: 280px;
    border-radius: 10px;
  }

  body{
    color: white;
    height: 100%;
    background-image:url('../Imagens/fundoSite.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      
  }



a.link-download {
  position: relative;
  top: 95px; 
}

h1{
  text-align: center;
}

div.obra {
  text-align: center;
}

a.link-aula:hover {
  color: #d16138;
}

div.box-contato-git{
  color: #1b191a;
  background-repeat: no-repeat;
  background-position-y: 80px;
  text-align: center;
  background-color: #ffff;
  width: 250px;
  height: 280px;
  border-radius: 10px;
  position: relative;
}

#contato-git{
  opacity: 90%;
}

#contato-git:hover{
  opacity: 100%;
}