*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    text-align: center;
    position: relative;
    background-color: rgb(101, 94, 165);
    width: 400px;
    height: 200px;
    left: 50%;
    transform: translate(-50%, 0);
    top: 10px;
}

.campo{
   margin-top: 30px;
   border-radius: 5px;
   height: 25px;
}

#n3{
    position: absolute;
    left: 2%;
    top: 36%;
}

#n2{
    margin-left: 10px
}

#botaoCalcular{
    margin-top: 50px;
    background-color: rgb(101 94 165);
    cursor: pointer;
    width: 60px;
    height: 30px;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    background-color: rgb(223, 211, 43);
}

#resultado{
    position: absolute;
    height: 20px;
    width: 173px;
    left: 52%;
    bottom: 35%;
    color: white;
}

#botaoCalcular:hover{
    width: 65px;
    height: 35px;
}

body h1{
    color: yellow;
}